  .contDestacada:hover
{
  box-shadow: 2px 2px 2px 2px rgb(200,200,200);
  background-color: rgb(250,250,250);

}

.infoDestacada
{
  color: white;
}

.contDestacada:hover .infoDestacada
{
  color: black;
}




  /*******************************/
 /**Redifiniciones de bootstrap**/
/*******************************/


#yw1
{
  margin-top: 0px;
}
#contLayout
{
  margin-right: 0px; 
  margin-left: 0px; 
 padding-left: 0px; 
  padding-right: 0px; 
}

.container-fluid
{
margin-right: 0px;
margin-left: 0px; 
padding-left: 0px;
padding-right: 15px;
}

#buscador
{
  margin-left: 175px;
}

#buscador, #btnBuscar
{
  margin-top: -10px;
}

#btnBuscar
{
  margin-left: 3px;
}

