.contDestacada:hover
{
  box-shadow: 2px 2px 2px 2px rgb(200,200,200);
  background-color: rgb(250,250,250);

}

.infoDestacada
{
  color: white;
}

.contDestacada:hover .infoDestacada
{
  color: black;
}

.divMontado
{
  margin-top: -90px;
}

.divIndex
{
  margin-top: -20px;
}

.active
{
  background-color: rgba(100,100,100, .4);
}

.active:hover
{
  background-color: rgba(100,100,100, .6);
}



  /*******************************/
 /**Redifiniciones de bootstrap**/
/*******************************/


#yw1
{
  margin-top: 0px;
}
#contLayout
{
  margin-top: 180px;
  margin-right: 0px; 
  margin-left: 0px; 
 padding-left: 0px; 
  padding-right: 0px; 
}

.container-fluid
{
margin-right: 0px;
margin-left: 0px; 
padding-left: 0px;
padding-right: 15px;
}

#buscador
{
  margin-left: 175px;
}

#buscador, #btnBuscar
{
  margin-top: -10px;
}

#btnBuscar
{
  margin-left: 3px;
}

@media only screen and (min-width:150px) and (max-width:900px){
  #contLayout
  {
    margin-top: 0px;
  }

  .divMontado, .divIndex
  {
    margin-top: 0px;
  }

  #yw2, #yw7, #yw1, #yw5, #yw3 /*Este es el id que toma el ul del menu, hay que ver porque es variable y puede afectar otros elementos de otras vistas*/
  {
    text-align: center;
  }

  .btn-navbar
  {
    width: 60px;
    height: 40px;
    background-color: white;
    float: right;
    margin-top: 5px;
    color: black;
  }

  #buscador
  {
    margin-left:0px;
    margin-top: 5px;
    width: 70%;
  }

  #btnBuscar
  {
    margin-top: 5px;
  }
}

