  /*******************************/
 /**Redifiniciones de bootstrap**/
/*******************************/


#yw1
{
  margin-top: 0px;
}
#contLayout
{
  margin-right: 0px; 
  margin-left: 0px; 
 padding-left: 0px; 
  padding-right: 0px; 
}

.container-fluid
{
margin-right: 0px;
margin-left: 0px; 
padding-left: 0px;
padding-right: 15px;
}

#buscador
{
  margin-left: 175px;
}

#buscador, #btnBuscar
{
  margin-top: -10px;
}

#btnBuscar
{
  margin-left: 3px;
}